* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Noto Sans Symbols 2", sans-serif;
  font-family: "Roboto Mono", monospace;
  background-color: rgb(248, 220, 185);
}

/* ----- LANDING PAGE ----- */

#landing-page {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
}

.landing-content h1 {
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  font-size: 100px;
  text-shadow: 0 0 10px white;
}

.landing-content p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.button-transparency {
  background-color: transparent;
  border-color: #fff;
  border-width: 2px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  text-shadow: 0 0 20px white;
}

.button {
  padding: 10px 25px;
  font-size: 12px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.button-transparency:hover {
  background-color: rgba(230, 235, 241, 0.3);
  color: #cdd7e2;
}

.back-video {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* ----- HOME PAGE ----- */

.main-div {
  background-image: url(./public/images/bg1.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.second-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-div .section-1,
.second-div .section-2,
.second-div .section-3,
.second-div .section-4,
.second-div .section-5,
.second-div .section-6 {
  margin-bottom: 20px;
}

.second-div .text-wrapper {
  max-width: 800px;
  text-align: center;
  padding: 20px;
  margin: 30px;
}

.top-content .top-content-ironhack-logo {
  width: 80px;
  height: auto;
  z-index: 2;
  position: relative;
  margin-left: 25px;
  margin-top: 25px;
}

.home-page-text {
  color: white;
  margin-top: 90px;
  text-align: center;
  justify-content: center;
  text-align: center;
  font-size: 70px;
}

.home-page-text h1 {
  text-shadow: 0 0 30px black;
  margin: 0;
}

.home-page-text h6 {
  text-shadow: 0 0 30px black;
  font-size: 30px;
  color: goldenrod;
}

.bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

.bottom-content-text {
  color: white;
  z-index: 2;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  text-decoration: none;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  text-align: center;
}

.bottom-content .scroll-container {
  width: 14px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 15px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-content .scroll-container .scroller {
  width: 2px;
  border-radius: 8px;
  background-color: goldenrod;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  animation: scroller 2500ms ease-out infinite;
}

.footer-second-div .bottom-content-text h3 {
  color: black;
  margin-top: 20px;
}

.footer-second-div .scroll-container {
  width: 14px;
  height: 60px;
  border: 2px solid #020202;
  border-radius: 15px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.footer-second-div .scroll-container .scroller {
  width: 2px;
  border-radius: 8px;
  background-color: goldenrod;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  animation: scroller 2500ms ease-out infinite;
}

@keyframes scroller {
  0% {
    bottom: 30px;
  }
  5% {
    top: 4px;
  }
  32% {
    bottom: 4px;
  }
  66% {
    top: 34px;
    bottom: 4px;
  }
  100% {
    top: 4px;
    bottom: 30px;
  }
}

/* ----- LOGIN PAGE ----- */
.parent-login-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  position: relative;
  width: 300px;
  height: 500px;
  margin: auto;
  top: 25%;
  transform: translateY(-50%);
  padding: 60px;
  background-color: #505050;
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
  color: white;
  border-radius: 20px;
}

.dot {
  color: goldenrod;
}

.login form {
  padding-top: 80px;
}

.login .text {
  border: none;
  width: 89%;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.login .text:focus {
  outline: 0;
  border: 2px solid goldenrod;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.login input[type="email"],
.login input[type="password"] {
  color: #fff;
}

.custom-checkbox {
  margin-top: 10px;
}
.custom-checkbox-label {
  margin-top: 10px;
  font-size: 10px;
  margin-left: 10px;
}

.button-login {
  background-color: goldenrod;
  color: #fff;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: 1px solid white;
  text-transform: uppercase;
}

.button-login:hover {
  background: goldenrod;
  box-shadow: 0px 4px 35px -5px goldenrod;
  cursor: pointer;
}

.login .f-password {
  font-size: 10px;
  text-align: center;
  display: block;
  top: 5px;
  position: relative;
  text-decoration: none;
  color: rgba(245, 244, 244, 0.2);
}

.login a {
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  display: block;
  top: 70px;
  position: relative;
  text-decoration: none;
  color: rgba(245, 244, 244, 0.2);
}

/* ----- SIGNUP PAGE ----- */

.parent-signup-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup {
  position: relative;
  width: 300px;
  height: 650px;
  margin: auto;
  top: 40%;
  transform: translateY(-50%);
  padding: 60px;
  background-color: #505050;
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
  color: white;
  border-radius: 20px;
}

.signup form {
  padding-top: 80px;
}

.signup .text {
  border: none;
  width: 89%;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.signup .text:focus {
  outline: 0;
  border: 2px solid goldenrod;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"] {
  color: #fff;
}

.button-login {
  background-color: goldenrod;
  color: #fff;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: 1px solid white;
  text-transform: uppercase;
}

.button-login:hover {
  background: goldenrod;
  box-shadow: 0px 4px 35px -5px goldenrod;
  cursor: pointer;
}

/* ----- GLOBE PAGE ----- */

.globe-page-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.globe-page-layout {
  align-items: center;
  justify-content: center;
}

.globe-page-continent-selector {
  top: 500px;
  display: flex;
}

.select-box {
  cursor: pointer;
  position: relative;
  max-width: 20em;
  margin: 5em auto;
  width: 300px;
}

.select,
.label {
  color: #414141;
  display: block;
  font: 400 17px/2em "Source Sans Pro", sans-serif;
}

.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  border: 0 none;
}
.select-box1 {
  background: #ececec;
}

.label {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
}
.open .label::after {
  content: "▲";
}
.label::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  border-left: 5px solid #fff;
}
